body {
    background-color: #EBECF0;
}

/* .selection-display {
    background-color: #EBECF0;
    border: none !important;
} */

.loc-wrapper, .date-wrapper, .psg-wrapper {
    display: block;
    box-sizing: border-box;
}

.loc-input, .date-input, .psg-input {
    padding: 10px;
}